<div class="modal-header">
  <h4 class="modal-title">Operaciones de inversión</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form [formGroup]="form">

    <div class="mb-3">
      <label for="operationType" class="form-label">Tipo de operación</label>
      <div id="operationType" class="btn-group" role="group" aria-label="Tipo de operación">
        <button class="btn btn-outline-success" (click)="form.get('operationType')?.setValue('deposit')">
          Añadir
          <i class="bi bi-plus"></i>
          <i class="bi bi-cash"></i>
        </button>
        <button class="btn btn-outline-danger" (click)="form.get('operationType')?.setValue('withdraw')">
          Retirar
          <i class="bi bi-dash"></i>
          <i class="bi bi-cash"></i>
        </button>
      </div>
    </div>

    <div class="mb-3">
      <label for="fromAccount" class="form-label">Cuentas corrientes</label>
      <select class="form-control" formControlName="fromAccount">
        <option>Seleccione una cuenta corriente</option>
        <option *ngFor="let account of customer?.accounts" [ngValue]="account">
          {{ account | accountDescriptor }} {{ account.balance | currency:'MXN' }}
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label for="toAccount" class="form-label">Cuenta de inversión</label>
      <select class="form-control" formControlName="toAccount">
        <option>Seleccione una cuenta de inversión</option>
        <option *ngFor="let invest of customer?.investments" [ngValue]="invest">
          {{ invest | investDescriptor }} {{ invest.balance | currency:'MXN' }} {{invest.investRate | investRate }}
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label for="amount" class="form-label">Importe de la transacción</label>
      <input type="number" class="form-control" formControlName="amount" />
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="submit" class="btn btn-primary" (click)="submitOperation()" [disabled]="form.invalid">Realizar operación</button>
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close('Close click')">Cerrar</button>
</div>
