.investments {
  .balance-sum {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 20px;

    .balance {
      font-weight: 800;
    }
  }
  .account-card {
    cursor: pointer;
  }

}
