/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
